.button12{
    -fx-background-color: #a1b4d9;
    -fx-background-radius: 20;
}
.button13{
    -fx-background-color: #d70909;
    -fx-background-radius: 20;

}
.button14{
    -fx-background-color: #a1b4d9;
    -fx-background-radius: 20;
}
.pane{
    -fx-arrows-visible: true;
    -fx-background-color:linear-gradient(#7e99ff,aqua, #28d4bf)
}
.mainPane{
    -fx-background-color:linear-gradient(darkblue,rgba(59,101,126,1),rgba(29,126,87,1));

}
.painMaınScreen{
    
}